<?xml version="1.0" encoding="utf-8" ?>
<DbConfig>
  <Connections>
    <Connection>
      <Name>WX</Name>
      <ProviderName>System.Data.SqlClient</ProviderName>
      <ConnectionString>Data Source=120.27.209.172;Initial Catalog=ZJBDB;Persist Security Info=True;User ID=zjb;Password=ZJB20!7</ConnectionString>
    </Connection>
    <Connection>
      <Name>Cooperation</Name>
      <ProviderName>System.Data.SqlClient</ProviderName>
      <ConnectionString>Data Source=192.168.0.173;Initial Catalog=Cooperation;Persist Security Info=True;User ID=(Cooperation);Password=(Cooperation)^$@$(20090416)</ConnectionString>
    </Connection>
    <Connection>
      <Name>DBTRSWCM</Name>
      <ProviderName>System.Data.SqlClient</ProviderName>
      <ConnectionString>server=192.168.0.37;uid=Trswcm52a.2010ZJB.08com;pwd=a.2010ZJB.08com!@#$Trswcm52$$$###!())();database=TRSWCM52s</ConnectionString>
    </Connection>
  </Connections>
  <Providers>
    <Provider>
      <Name>MySql.Data.MySqlClient</Name>
      <DatabaseType>EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null</DatabaseType>
    </Provider>
  </Providers>
</DbConfig>