@{
    Layout = null;
}
@using ZJB.Api.Entity
@using ZJB.Api.Models
@model ZJB.Api.Models.PublicUserModel
<!DOCTYPE html>

<html style="font-size: 117.188px;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>我的客户</title>
    <link href="~/css/esf/common.css" rel="stylesheet" />
    <link href="~/Css/Esf/manage.css" rel="stylesheet" />

    <script src="~/Scripts/Esf/jquery-1.7.1.min.js"></script>
    @*<script src="~/js/base.js"></script>*@
    <script src="~/js/scroll.js"></script>
    <script type="text/javascript">
        var k = true;
        var w = $(window);
        var curp = 1;
        function load() {
            var pars = new Object();
            pars["pageIndex"]=curp;
            pars["pageSize"]=10;
            pars["state"]=@ViewBag.kfstate;
            $.ajax({
                type: "post",
                url: "/esf/GetBaoBeiList",
                data: pars,
                dataType: "json",
                success: function (data) {
                    var reval = "";
                    var irow = 0;
                    if (data != undefined && data.length > 0) {

                        $.each(eval(data), function(i, item) {
                            irow++;
                            reval += "<section class=\"mod-prod-item mod-sell\">";
                            //reval += "      <header class=\"mod-title\">"+item.LoupanName+"</header>";
                            if (reval.Status==1) {
                                reval += "      <div class=\"mod-prod-info stateful\" onClick=\"window.location='/esf/BaoBeiDetail?tjid="+item.ID+"'\">";
                            } else {
                                reval += "      <div class=\"mod-prod-info stateful\" onClick=\"window.location='/esf/BaoBeiDetail?tjid="+item.ID+"'\">";
                            }


                            reval += "           <div class=\"mod-prod-txt\">";
                            reval += "              <h2>"+item.LoupanName+"</h2>";
                            reval += "              <strong>"+item.Address+"</strong> " +
                                "<div style=\"font-size: 14px;margin-left: .43rem;padding-top: 10px;\">客户：<i style=\"color:yellow\">"+item.FriendName+"("+item.FriendTel+")"+
                                "</i></div>"+
                            "<div style=\"font-size: 14px;margin-left: .43rem;padding-top: 10px;\">时间：<i>"+item.AddDate+
                          "</i></div><em class=\"icon iconfont\">혉</em>";
                            reval += "           </div>";
                            reval += "       </div>";
                            reval += "</section>";
                        });
                        if (irow<10) {
                            k = false;
                        }

                        $(".mod-manage-container").append(reval);
                        curp++;
                    }
                    else {
                        k = false;
                    }
                }
            });
        }

        $(function() {
            load();
        });
    </script>

</head>

<body>
    <div class="mod-manage-container">

    </div>



 

    <nav class="nav-bar">
        <a class="" href="/">首页<b class="iconfont">혈</b></a>

        <a class="" href="/esf/Me">我的<b class="iconfont">혂</b></a>
    </nav>

</body>
</html>