@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>出售/出租委托协议-住家帮</title>
    <link rel="stylesheet" href="/css/Esf/common.css">
    <link rel="stylesheet" href="/css/Esf/submit.css">
    <script type="text/javascript" src="/Scripts/Esf/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/Esf/base.js"></script>
</head>

<body>
    <div class="protol-panel active">
        <h1>出售/出租委托协议</h1>
        <p> 住家帮中介服务（以下简称本服务）是由XX房地产咨询有限公司（以下简称本公司）向住家帮用户提供的住家帮软件系统（以下简称本系统）及(或)附随的目标物业相关报告居间及媒介居间服务。 住家帮出售/出租委托协议（以下简称本协议）由用户和本公司签订。</p>
        <p class="phead">一、  声明与承诺</p>
        <p>(一) 本协议已对与用户的权益有或可能具有重大关系的条款，及对本公司具有或可能具有免责或限制责任的条款用粗体字予以标注，请用户注意。用户确认，在用户注册成为住家帮用户以接受本服务，或用户以其他本公司允许的方式实际使用本服务前，用户已充分阅读、理解并接受本协议的全部内容，一旦用户使用本服务，即表示用户同意遵循本协议之所有约定。</p>
        <p>(二) 用户同意，本公司有权随时对本协议内容进行单方面的变更，并以在wx.住家帮.cn网站公告的方式予以公布，无需另行单独通知用户；若用户在本协议内容公告变更后继续使用本服务的，表示用户已充分 阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若用户不同意修改后的协议内容，用户应停止使用本服务。</p>
        <p>(三) 用户保证，在用户同意接受本协议并注册成为住家帮用户时，用户已经年满16周岁；本协议内容不受用户所属国家或地区法律的排斥。不具备前述条件的，用户应立即终止注册或停止使用本服务。</p>
        <p class="phead">二、  定义及解释</p>
        <p>(一) 住家帮用户的中介服务由XX房地产咨询有限公司提供，旗下包括XX房地产咨询有限公司。</p>
        <p class="phead">三、  委托内容</p>
        <p>(一) 房屋信息服务。用户通过住家帮网站委托住家帮中介出售或出租。</p>
        <p>(二) 用户应保证： </p>
        <p>（1）对委托房屋拥有合法的处分权/出租权/转租权；</p>
        <p>（2）上述陈述的委托房屋信息真实、准确、完整；</p>
        <p>（3）向本公司提供必要的产权文件，包括但不限于房屋所有权证、产权人身份证件、产权人同意转租的法律文件等。如因用户无权出售/出租或虚假陈述导致的损失，应由用户承担；在委托期限内，用户应积极配合本公司开展正常的经纪活动。</p>
        <p>(三) 本公司应依法从事居间活动，如因本公司的居间行为给用户造成损失的，本公司应承担责任。</p>
        <p class="phead">四、  服务使用规则</p>
        <p>(一) 住家帮网站与手机APP内所涉及的房源外观、房屋图片可能与实物有所区别，效果演示图和示意图仅供参考，有关房源外观及房源图片须以实物为准。</p>
        <p>(二) 用户有权随时向本公司随时询问委托事项的处理情况。</p>
        <p>(三) 本公司将如实提供与订立合同相关的真实情况，不得故意向用户提供虚假信息、隐瞒重要事实与他人恶意串通、损害用户利益。</p>
        <p>(四) 如促成双方签定房屋买卖合同，则视为完成居间服务，用户应向本公司支付服务费用，具体数额以双方所签订的居间服务协议约定为准。用户通过本公司服务获取的目标物业信息，用户应通过本公司与业主方签订书面协议，不得与业主方自行进行交易。</p>
        <p class="phead">五、  服务使用限制</p>
        <p>(一) 本公司原则上应自行办理委托事项，不得将委托事项转交第三方办理。</p>
        <p>(二) 用户对本公司提供的目标物业相关信息及相关资料负有保密义务，未经本公司事先书面同意，不得擅自向无关联的第三方泄露该等资料，亦不得将该等资料进行复制、出售、或用于任何营利目的。</p>
        <p class="phead">六、  隐私权保护</p>
        <p>重视用户个人隐私是本公司的一贯的政策，本公司不会在未经合法用户授权时，公开、编辑或透露其个人信息及保存在本公司相关网站中的非公开内容，除非有下列情况：</p>
        <p>(一) 有关法律规定和程序，本公司合法服务程序所定；</p>
        <p>(二) 为保持维护本公司的商标所有权和其他合法权益；</p>
        <p>(三) 在紧急情况下竭力维护用户个人和社会大众的隐私安全；</p>
        <p>(四)  与本公司的关联公司和战略合作伙伴分享客户资料，以及其他重大事件需要公开、编辑或透露用户个人信息的情况；</p>
        <p>(五) 另外，在包括但不限于几种以下情况下，本公司有权使用用户的个人信息；</p>
        <p>(六) 在进行促销、抽奖、捐助等社会或商业活动时，本公司可能会与赞助商共享用户的个人信息，在这些情况下本公司会在发送用户信息之前进行提示，并且用户可以通过不参与来终止传送过程；</p>
        <p>(七) 本公司会通过透露合计用户统计数据，向未来的合作伙伴、广告商及其他第三方以及为了其他合法目的而描述本公司的服务；</p>
        <p>(八) 本公司可以将用户信息与第三方数据匹配；</p>
        <p>(九) 本公司会向用户发送客户订制的信息或者其它本公司认为用户会感兴趣的其他信息。如果用户不希望收到这样的信息，只需在提供个人信息时或其他任何时候告知即可；</p>
        <p>(十) 另外，本公司会采取行业惯用措施保护用户信息的安全，但本公司不能确信或保证任何个人信息的安全性，用户须自己承担风险。比如用户联机公布可被公众访问的个人信息时，用户有可能会收到未经用户同意的信息；本公司的合作伙伴和可通过本公司访问的第三方因特网站点和服务；通过抽奖、促销等活动得知用户个人信息的第三方会进行独立的数据收集工作等活动。本公司对用户及其他任何第三方的上述行为，不承担任何责任。</p>
        <p class="phead">七、  法律适用与管辖</p>
        <p>本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，没有相关法律规定的，参照通用国际商业惯例和（或）行业惯例。因本协议产生之争议，均应依照中华人民共和国 法律予以处理，并以被告住所地人民法院为第一审管辖法院。</p>
    </div>
</body>
</html>
