@charset "utf-8";
/* CSS Document */
.login {
	padding:20px 12px 0px
}
.login_box {
	background:#fff;
	border:1px solid #c7ccd3;
	border-radius:3px;
}
.login_item {
	height:45px;
	border-bottom:1px solid #c7ccd3;
	padding:0px 15px 0px 20px;
	line-height:45px;
	position:relative	
}
.login_item:last-child {
	border:none
}
.login_txt {
	position:absolute;
	width:64px;
	height:45px;
	line-height:45px;
	left:15px;
	color:#000;
	font-size:18px;
}
.line {
	position:absolute;
	left:80px;
	top:14px;
	height:20px;
	width:1px;
	background:#d1d1d1
}
.shuru {
	padding-left:75px
}
.shuru_btn {
	font-family:'微软雅黑', Tahoma, Arial;
	font-size:16px;
	border:none;
	height:30px;
	line-height:30px;
	width:100%
}
.jizhu {
	margin-top:8px
}
.focus {
	display:block;
	background:url(/Images/M/checkButtonSelected36x36.png) no-repeat left top;
	background-size:18px 18px;
	padding-left:22px;
	color:#666b72;
	font-size:14px;
	line-height:18px;
	cursor:pointer
}
.lost {
	display:block;
	background:url(/Images/M/checkButtonCancel36x36.png) no-repeat left top;
	background-size:18px 18px;
	padding-left:22px;
	color:#666b72;
	font-size:14px;
	line-height:18px;
	cursor:pointer
}
.sub_box {
	margin-top:10px
}
.sub_btn {
	width:100%;
	height:44px;
	line-height:44px;
	border:none;
	background:#5f9bf8;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9bf8),to(#5f9bf8));
	background-image:-webkit-linear-gradient(#5f9bf8,#5f9bf8);
	background-image:-moz-linear-gradient(#5f9bf8,#5f9bf8);
	background-image:-ms-linear-gradient(#5f9bf8,#5f9bf8);
	background-image:-o-linear-gradient(#5f9bf8,#5f9bf8);
	background-image:linear-gradient(#5f9bf8,#5f9bf8); 
	border-radius:4px;
	color:#fff;
	font-size:17px;
	font-family:'微软雅黑', Tahoma, Arial;
	text-align:center
}
	