@{
    Layout = null;
}



<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
    <title>上传图片帮助</title>
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/saleImport.css" rel="stylesheet" />
  
</head>
<body>
    <div class="importHelp">
        <ul class="importHelp-content">
            <li class="importHelp1"><img width="600" height="215" src="/images/help/help_01.png" /></li>
            <li class="importHelp2"><img width="600" height="239" src="/images/help/help_02.png" /></li>
            <li class="importHelp3"><img width="600" height="239" src="/images/help/help_03.png" /></li>
            <li class="importHelp4"><img width="600" height="211" src="/images/help/help_04.png" /></li>
        </ul>
    </div>
</body>
</html>