@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改密码</title>
<link href='../css/common.css' rel='stylesheet' type='text/css' />
<link href='../css/modifyPass.css' rel='stylesheet' type='text/css' />
</head>

<body>
<div class="saleHouse" id="saleHouse">
  <div class="saleHouse-main">
    <div class="main_hd">
      <ul class="sale-tab-sub">
        <li class="sale-sub-menu selected"> <a href="javascript:">修改密码</a> </li>
      </ul>
    </div>
    <ul class="modifyPass-content">
      <li>
        <label for="oldPassword"><span class="col-f60">*</span>旧密码：</label>
        <input type="password" name="oldPassword" id="oldPassword" value="" class="modifyPass-input"/>
        <span>密码字母有大小写区分，至少<span class="col-f60 font-16">6</span>个字符。</span> </li>
      <li>
        <label for="newPassword"><span class="col-f60">*</span>新密码：</label>
        <input type="password" name="newPassword" id="newPassword" value="" class="modifyPass-input"/>
        <span>请输入您的新密码</span> </li>
      <li>
        <label for="enterPassword"><span class="col-f60">*</span>确认密码：</label>
        <input type="password" name="enterPassword" id="enterPassword" value="" class="modifyPass-input"/>
        <span>请重新输入一遍您的新密码</span> </li>
      <li class="modifyPass-btn">
        <button  id="btn_upd_pwd" class="btn_g">确认</button>
        <button  id="btn_reset_pwd" class="btn_g">重置</button>
      </li>
    </ul>
  </div>
</div>
<script src='/Scripts/jquery-1.8.3.js' type='text/javascript'></script> 
<script src='/Scripts/plugins/artDialog/jquery.artDialog.js?skin=chrome' type='text/javascript'></script> 
<script src='/Scripts/plugins/artDialog/plugins/iframeTools.source.js' type='text/javascript'></script> 
<script src='/Scripts/updPass.js' type='text/javascript'></script> 
<script src='/Scripts/common.js' type='text/javascript'></script>
</body>
</html>
