@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <title>关于我们-住家帮</title>
	<link rel="stylesheet" href="/Css/Esf/common.css">
	<link href="/css/esf/iconfont.css" rel="stylesheet">
	<link href="/css/esf/about.css" rel="stylesheet">
	<script>
	 var goback = function () {
            history.length >= 2 ? history.go(-1) : window.location = 'http://www.zhujia001.com/';
        }
	</script>
</head>
<body>
<div class="h5-index-wrapper">
	<header class="w-defaulthead">
		<a class="back wk_iconfont" href="javascript:;" onclick="goback()">&#xe610;</a>
		<div class="title"><span>关于我们</span></div>
		<div class="menu"></div>
	</header>
	<div class="aboutContent">
		<div class="aboutLogo"><img src="/images/esf/about_logo.jpg" width="100%"></div>
		<div class="aboutEdition"></div>
		<!--文本-->
		<div class="aboutText">
			<p class="con">
				住家帮——中国互联网房产交易平台！住家帮顺势移动互联网+房地产大潮，以全新模式对房产买卖交易流程进行革命性创新，直击传统房屋中介的顽疾，解决消费者购房过程中长期存在的诸多痛点，一跃成为房地产互联网变革中的标志性平台。
			</p>
			<p class="con">我们的使命：造就万千和美家庭！</p>
			<p class="con">我们的愿景：成为全国最大的房产交易平台。</p>
			<p class="con">我们的价值观：品质至上，诚心负责、致力为客户“找家”。</p>
			<p class="bold">住家帮团队</p>
			<p class="con">住家帮分别吸纳线上、线下最优秀的人才，真正做到020链接，完成房地产互联网化的实质性变革。</p>
		</div>
		<div class="contactUs">
			<p class="contactTitle">服务热线：</p>
			<p class="contactText">0592-3158869<span class="smallText">（ 周一至周日：早9:30-晚6:30 ）</span></p>
			<p class="contactTitle">公司地址：</p>
			<p class="addressText">厦门市湖里区高林中路535号万科中心云玺2号1503</p>
		</div>
	</div>
</div>
</body>
</html>
