@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>房产盒子客户端下载</title>
	<script src='/Scripts/jquery-1.8.3.js' type='text/javascript'></script>
	<script src='/Scripts/common.js' type='text/javascript'></script>
	<link href='/css/common.css?v=1.0' rel='stylesheet' type='text/css' />
	<link href='/css/main.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="saleHouse" class="saleHouse">
	<div class="APP_main clearfix">
		<div class="apppic"></div>
		<div class="appbox">
			<span class="apptxt">用手机扫描下面的二维码，或选择合适你的手机系统下载。</span>
			<img src="/images/eweima330.jpg" width="330" height="330" />
			<a href="http://www.fchezi.com/apk/fchezi.apk"></a>
		</div>
	</div>
</div>
</body>
</html>
