@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>臻房网</title>
	<link rel="stylesheet" href="/css/Web/common.css" />
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
<div class="main-top">
    <div class="main-wrap">
        <a href="/"><div class="left banner"></div></a>
        <span class="logo1"></span>
        <div class="right choose-city">
            <a href="/xm-esf"><span class="chooseBtn">进入厦门站</span></a>
        </div>
    </div>
</div>
<div class="selectCityPanel">
    <div class="main-wrap">
        <div class="nav-top clear">
            <div class="chose left">
                <h2>请选择城市</h2>
            </div>
            <div class="city right">
				<a href="/xm-esf"><span>厦门</span></a>
                <a href="/bj-esf"><span>北京</span></a>
                <a href="/tj-esf"><span>天津</span></a>
                <a href="/sh-esf"><span>上海</span></a>
                <a href="/cd-esf"><span>成都</span></a>
                <a href="/nj-esf"><span>南京</span></a>
                <a href="/hz-esf"><span>杭州</span></a>
                <a href="/qd-esf"><span>青岛</span></a>
                <a href="/dl-esf"><span>大连</span></a>
                <a href="/sz-esf"><span>苏州</span></a>
                <a href="/wh-esf"><span>武汉</span></a>
                <a href="/sz-esf"><span>深圳</span></a>
            </div>
        </div>
    </div>
</div>

<div class="selectCityPanel">
	<ul class="city-list clear">
		<li>
            <a href="/xm-esf">
                <img src="/images/city/xiamen.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/xm-esf"><em>厦门站</em></a>
                    <a href="/xm-esf"><span><strong>厦门二手房</strong></span></a>
                    <a href="/xm-zf"><span><strong>厦门租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">厦门站</h3>
		</li>
		<li>
            <a href="/bj-esf" rel="nofollow">
                <img src="/images/city/beijing.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/bj-esf" rel="nofollow"><em>北京站</em></a>
                    <a href="/bj-esf"><span><strong>北京二手房</strong></span></a>
                    <a href="/bj-zf"><span><strong>北京租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">北京站</h3>
		</li>
		<li>
            <a href="/tj-esf">
                <img src="/images/city/tianjing.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/tj-esf"><em>天津站</em></a>
                    <a href="/tj-esf"><span><strong>天津二手房</strong></span></a>
                    <a href="/tj-zf"><span><strong>天津租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">天津站</h3>
		</li>
		<li>
            <a href="/sh-esf">
                <img src="/images/city/shanghai.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/sh-esf"><em>上海站</em></a>
                    <a href="/sh-esf"><span><strong>上海二手房</strong></span></a>
									</p>
			</div>
			<h3 class="title">上海站</h3>
		</li>
		<li>
            <a href="/cd-esf">
                <img src="/images/city/chengdu.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/cd-esf"><em>成都站</em></a>
                    <a href="/cd-esf"><span><strong>成都二手房</strong></span></a>
                    <a href="/cd-zf"><span><strong>成都租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">成都站</h3>
		</li>
		<li>
            <a href="/nj-esf">
                <img src="/images/city/nanjing.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/nj-esf"><em>南京站</em></a>
                    <a href="/nj-esf"><span><strong>南京二手房</strong></span></a>
                    <a href="/nj-zf"><span><strong>南京租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">南京站</h3>
		</li>
		<li>
            <a href="/hz-esf">
                <img src="/images/city/hangzhou.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/hz-esf"><em>杭州站</em></a>
                    <a href="/hz-esf"><span><strong>杭州二手房</strong></span></a>
                    <a href="/hz-zf"><span><strong>杭州租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">杭州站</h3>
		</li>
		<li>
            <a href="/qd-esf">
                <img src="/images/city/qingdao.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/qd-esf"><em>青岛站</em></a>
                    <a href="/qd-esf"><span><strong>青岛二手房</strong></span></a>
                    <a href="/qd-zf"><span><strong>青岛租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">青岛站</h3>
		</li>
		<li>
            <a href="/dl-esf">
                <img src="/images/city/dalian.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/dl-esf"><em>大连站</em></a>
                    <a href="/dl-esf"><span><strong>大连二手房</strong></span></a>
                    <a href="/dl-zf"><span><strong>大连租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">大连站</h3>
		</li>
		<li>
            <a href="/sz-esf">
                <img src="/images/city/suzhou.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/sz-esf"><em>苏州站</em></a>
                    <a href="/sz-esf"><span><strong>苏州二手房</strong></span></a>
                    <a href="/sz-zf"><span><strong>苏州租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">苏州站</h3>
		</li>
		<li>
            <a href="/wh-esf">
                <img src="/images/city/wuhan.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/wh-esf"><em>武汉站</em></a>
                    <a href="/wh-esf"><span><strong>武汉二手房</strong></span></a>
                    <a href="/wh-zf"><span><strong>武汉租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">武汉站</h3>
		</li>
		<li>
            <a href="/sz-esf">
                <img src="/images/city/shenzhen.png?v=2015">
            </a>
			<div class="holder">
				<i></i>
				<p class="desTile">
                    <a href="/sz-esf"><em>深圳站</em></a>
                    <a href="/sz-zf"><span><strong>深圳二手房</strong></span></a>
                    <a href="/sz-zf"><span><strong>深圳租房</strong></span></a>
									</p>
			</div>
			<h3 class="title">深圳站</h3>
		</li>
	</ul>
</div>
<div class="home_footer">
	<div class="footer_link">
		<div class="copy">Copyright © 2014-2016 zf.ZJB.com 闽ICP备15002624号</div>
	</div>
</div>
</body>
</html>
