@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cooperation</title>
</head>
<body>
    <div>
        合作
    </div>
</body>
</html>
