@{
    Layout = null;
}
@model ZJB.Uc.Entity.UcPassport
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>City</title>
</head>
<body>
    <div>
        @{
            if (Model != null)
            {
                @Model.UserName
            }
        }
    </div>
</body>
</html>
