@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>住家帮</title>
    <link href="/css/weui.min.css" rel="stylesheet" />
    <style type="text/css">
        #main {
            position: absolute;
            width: 181px;
            height: 181px;
            left: 50%;
            top: 50%;
            margin-left: -90px;
            margin-top: -100px;
            /*border: 1px solid #00F;*/
        }
    </style>
</head>
<body>
    <div class="weui_msg">
        <div class="weui_icon_area">
            <img src="http://www.zhujia001.com/QRCode/Erc?url=@ViewBag.ErcUrl">
        </div>
        <div class="weui_text_area">
            <h4 class="weui_msg_title">微信扫码访问</h4>
        </div>
    </div>
 
</body>
</html>
