@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>意见反馈</title>
	<link href='/css/common.css' rel='stylesheet' type='text/css' />
	<link href='/css/main.css' rel='stylesheet' type='text/css' />
	<link href='/css/big_pic.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="saleHouse" class="saleHouse">
	<div class="saleHouse-main shejiao_main">
		<div class="home-editor-tab">
			<ul>
				<li><a href="javascript:">说两句</a></li>
			</ul>
			<div class="home-editor-tab-arrow"></div>
		</div> 	
		<div class="richeditor">
			<div id="mb-msgeditor-main" class="cmpdisabled">
				<!--发分享开始-->
				<div class="msgeditor-bd">
					<textarea placeholder="来说两句吧..." id="shareTextArea"></textarea>
				</div>
				<!--发分享结束-->
				<div class="msgeditor-ft">
					<div class="msgeditor-addons">
						<a href="javascript:" class="msgeditor-addons-smiley" data-value="0"><i class="icon icon-smiley"></i>
							表情</a> <a href="javascript:" class="attachbtn attachbtndoc msgeditor-addons-doc kcmp">
								<i class="icon icon-attach"></i>附件</a> 
					</div>
					<div class="msgeditor-ctrl">
						<!--公告特有-->
						<!--公告特有结束-->
						
						<a href="javascript:" class="msgeditor-ctrl-post"><em>发布</em></a>
					</div>
				</div>
				<div class="cattachqueue-wrap br5" id="fileListDiv">
				<ul class="cattachqueue">
					<li class="uploader_attachment_doc" guid="1"><em>icons.png</em><i>61.22KB</i><span>(已完成)<a class="cattachqueue-remove" guid="1">删除</a></span></li>
					<li class="uploader_attachment_doc" guid="2"><em>biaochi25zi.gif</em><i>1.46KB</i><span>(已完成)<a class="cattachqueue-remove" guid="2">删除</a></span></li></ul>
				<ul class="cattach-img-preview clearfix">
					<li guid="1" class="cxl_upload_img"><span class="upload_img"><img img-index="0" src="/images/a1.jpg" w="465" h="350" class="att-file-pic"></span></li>
					<li guid="2" class="cxl_upload_img"><span class="upload_img"><img img-index="1" src="/images/a1.jpg" w="365" h="16" class="att-file-pic"></span></li>
				</ul>
			</div>
			</div>
		</div>	
		<div class="tabhome">
			<div class="tablist_m">
				<ul id="tabHome" class="ul_tl_m clearfix">
					<li code="20" class="btn_type current"><a href="javascript:void(0)" type="aboutme">意见反馈</a></li>
					<!--<li code="10" class="btn_type"><a href="javascript:void(0)" type="all">话题类</a></li>-->
				</ul>
			</div>   
		</div>
			
		<div class="twtpanel">
			<div class="msg">
				<a href="javascript:;" class="namecard avatarbig"><img alt="头像" src="/images/avator.png" class="avatar"></a>
				<div class="msg-bd">
					<div class="msg-main"><a href="javascript:;" class="mb-twt-username namecard">陈文惠</a><br>
						<span class="msg-content">编辑部的妹子在排练中，春利说她很喜欢看陈兰凤跳舞，我不知道她是什么眼神，"人家明明没在场啊"！</span>
					</div>
					<div class="msg-attach">
						<div class="msg-attach-pics ">
							<a href="javascript:void(0);" class="zoom-min " style="display: inline-block;">
								<img img-index="0" alt="" src="/images/research-case-advertisement.jpg?imageView2/2/w/100/h/100" class="att-file-pic"><img src="/images/s-left-bg-png8.png" class="block">
							</a>
							<a href="javascript:void(0);" class="zoom-min " style="display: inline-block;">
								<img img-index="1" alt="" src="/images/research-case-education.jpg?imageView2/2/w/100/h/100" class="att-file-pic">
								<img src="/images/s-left-bg-png8.png" class="block">
							</a>
							<a href="javascript:void(0);" class="zoom-min " style="display: inline-block;">
								<img img-index="2" alt="" src="/images/research-case-internet.jpg?imageView2/2/w/100/h/100" class="att-file-pic">
								<img src="/images/s-left-bg-png8.png" class="block">
							</a>
						</div>
					</div>
				</div>
				<div class="msg-ft">
				  <div class="msg-ctrl mb10 tsq_lyb_dbcd"><a href="javascript:" data-zan="true" class="msg-ctrl-orlike">赞</a> <a class="msg-ctrl-cmt">回复</a><a href="javascript:" class="msg-ctrl-ext">15小时前</a></div>
				  <div class="mb-cmtbox none">
					<div class="mb-cmtbox-more none"><a data-id="4836" href="javascript:"><i class="icon icon-comment"></i>还有<b>2</b>条较早之前的回复 »</a></div>
					<div class="mb-cmtpanel msgpanel none">
					  <div class="mb-cmt msg kcmp" data-id="3292" data-username="吴春利" data-userid="1000183"><a href="javascript:;" class="namecard"><img alt="" src="/images/a1.jpg" class="avatar"></a>
						<div class="msg-bd">
						  <div class="msg-main"><a href="javascript:;" class="mb-cmt-username namecard">吴春利：</a><span>哈哈<span class="face_Img"><img src="/images/120.png"></span><span class="face_Img"><img src="/images/120.png"></span><span class="face_Img"><img src="/images/120.png"></span></span></div>
						</div>
						<div class="msg-ft">
						  <div class="msg-ctrl"><a class="msg-ctrl-cmt" data-id="3292">回复</a><span class="msg-meta">15小时前</span></div>
						</div>
					  </div>
					</div>
					<div class="mb-cmteditor cmpdisabled">
					  <div class="msgeditor-hd">
						<div class="msgeditor-hdl none"><span style="display: none;" data-id="3314"></span><em style="display: none;"></em></div>
						<!--<div class="msgeditor-hdr"><i>输入超过<b>10</b>行</i><q>已超出<strong></strong>字</q><span>还可输入<em>1000</em>字</span></div>-->
					  </div>
					  <div class="msgeditor-bd-container">
						<div class="msgeditor-bd h5uploadercontainer kcmp">
						  <textarea placeholder="" id="xzht_1"></textarea>
						</div>
					  </div>
					  <div class="msgeditor-ft clearfix">
						<div class="msgeditor-addons"><a href="javascript:" class="msgeditor-addons-smiley" data-value="0"><i class="icon icon-smiley"></i></a></div>
						<div class="msgeditor-ctrl"><a href="javascript:" class="tybtn em msgeditor-ctrl-post"><em>回复</em></a></div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
			
			<div class="msg">
				<a href="javascript:;" class="namecard avatarbig"><img alt="头像" src="/images/avator.png" class="avatar"></a>
				<div class="msg-bd">
					<div class="msg-main"><a href="javascript:;" class="mb-twt-username namecard">陈文惠</a><br>
						<span class="msg-content">编辑部的妹子在排练中，春利说她很喜欢看陈兰凤跳舞，我不知道她是什么眼神，"人家明明没在场啊"！</span>
					</div>
					<div class="msg-attach">
						<div class="msg-attach-pics ">
							<a href="javascript:void(0);" class="zoom-min " style="display: inline-block;">
								<img img-index="0" alt="" src="/images/info-press-jumbotron-bg.jpg?imageView2/2/w/100/h/100" class="att-file-pic"><img src="/images/s-left-bg-png8.png" class="block">
							</a>
							<a href="javascript:void(0);" class="zoom-min " style="display: inline-block;">
								<img img-index="1" alt="" src="/images/a3.jpg?imageView2/2/w/100/h/100" class="att-file-pic">
								<img src="/images/s-left-bg-png8.png" class="block">
							</a>
						</div>
					</div>
				</div>
				<div class="msg-ft">
				  <div class="msg-ctrl mb10 tsq_lyb_dbcd"><a href="javascript:" data-zan="true" class="msg-ctrl-orlike">取消赞</a> <a class="msg-ctrl-cmt">回复</a><a href="javascript:" class="msg-ctrl-ext">15小时前</a></div>
				  <div class="msg-likeinf ellipsis"><i class="icon icon-like"></i><span class="iand"><a href="javascript:;" class="like-number-flag">我、</a></span><a href="javascript:;" class="like-number-flag">章卫国 </a>、<a href="javascript:;" class="like-number-flag">陈振强 </a>等 3 人觉得这很赞</span></div>
				  <div class="mb-cmtbox none">
					<div class="mb-cmtbox-more none"><a data-id="4836" href="javascript:"><i class="icon icon-comment"></i>还有<b>2</b>条较早之前的回复 »</a></div>
					<div class="mb-cmtpanel msgpanel none">
					  <div class="mb-cmt msg kcmp" data-id="3292" data-username="吴春利" data-userid="1000183"><a href="javascript:;" class="namecard"><img alt="" src="/images/a1.jpg" class="avatar"></a>
						<div class="msg-bd">
						  <div class="msg-main"><a href="javascript:;" class="mb-cmt-username namecard">吴春利：</a><span>哈哈<span class="face_Img"><img src="/images/120.png"></span><span class="face_Img"><img src="/images/120.png"></span><span class="face_Img"><img src="/images/120.png"></span></span></div>
						</div>
						<div class="msg-ft">
						  <div class="msg-ctrl"><a class="msg-ctrl-cmt" data-id="3292">回复</a><span class="msg-meta">15小时前</span></div>
						</div>
					  </div>
					</div>
					<div class="mb-cmteditor cmpdisabled">
					  <div class="msgeditor-hd">
						<div class="msgeditor-hdl none"><span style="display: none;" data-id="3314"></span><em style="display: none;"></em></div>
						<!--<div class="msgeditor-hdr"><i>输入超过<b>10</b>行</i><q>已超出<strong></strong>字</q><span>还可输入<em>1000</em>字</span></div>-->
					  </div>
					  <div class="msgeditor-bd-container">
						<div class="msgeditor-bd h5uploadercontainer kcmp">
						  <textarea placeholder="" id="xzht_1"></textarea>
						</div>
					  </div>
					  <div class="msgeditor-ft clearfix">
						<div class="msgeditor-addons"><a href="javascript:" class="msgeditor-addons-smiley" data-value="0"><i class="icon icon-smiley"></i></a></div>
						<div class="msgeditor-ctrl"><a href="javascript:" class="tybtn em msgeditor-ctrl-post"><em>回复</em></a></div>
					  </div>
					</div>
				  </div>
				  
				</div>
			</div>
			
			<div class="msg">
				<a href="javascript:;" class="namecard avatarbig"><img alt="头像" src="/images/avator.png" class="avatar"></a>
				<div class="msg-bd">
					<div class="msg-main"><a href="javascript:;" class="mb-twt-username namecard">陈文惠</a><br>
						<span class="msg-content">编辑部的妹子在排练中，春利说她很喜欢看陈兰凤跳舞，我不知道她是什么眼神，"人家明明没在场啊"！</span>
					</div>
					<div class="msg-attach">
						<div class="msg-attach-pics ">
							<a href="javascript:void(0);" class="zoom-min " style="display: inline-block;">
								<img img-index="0" alt="" src="/images/info-jobs-enjoywork.jpg?imageView2/2/w/100/h/100" class="att-file-pic"><img src="/images/s-left-bg-png8.png" class="block">
							</a>
							<a href="javascript:void(0);" class="zoom-min " style="display: inline-block;">
								<img img-index="1" alt="" src="/images/info-jobs-create.jpg?imageView2/2/w/100/h/100" class="att-file-pic">
								<img src="/images/s-left-bg-png8.png" class="block">
							</a>
						</div>
					</div>
				</div>
				<div class="msg-ft">
				  <div class="msg-ctrl mb10 tsq_lyb_dbcd"><a href="javascript:" data-zan="true" class="msg-ctrl-orlike">赞</a> <a class="msg-ctrl-cmt">回复</a><a href="javascript:" class="msg-ctrl-ext">15小时前</a></div>
				  <div class="msg-likeinf ellipsis"><i class="icon icon-like"></i><a href="javascript:;" class="like-number-flag">章卫国 </a>、<a href="javascript:;" class="like-number-flag">陈振强 </a>等 3 人觉得这很赞</span></div>
				  <div class="mb-cmtbox">
					<div class="mb-cmtbox-more"><a data-id="4836" href="javascript:"><i class="icon icon-comment"></i>还有<b>2</b>条较早之前的回复 »</a></div>
					<div class="mb-cmtpanel msgpanel ">
					  <div class="mb-cmt msg kcmp" data-id="3292" data-username="吴春利" data-userid="1000183"><a href="javascript:;" class="namecard"><img alt="" src="/images/a1.jpg" class="avatar"></a>
						<div class="msg-bd">
						  <div class="msg-main"><a href="javascript:;" class="mb-cmt-username namecard">吴春利：</a><span>哈哈<span class="face_Img"><img src="/images/120.png"></span><span class="face_Img"><img src="/images/120.png"></span><span class="face_Img"><img src="/images/120.png"></span></span></div>
						</div>
						<div class="msg-ft">
						  <div class="msg-ctrl"><a class="msg-ctrl-cmt" data-id="3292">回复</a><span class="msg-meta">15小时前</span></div>
						</div>
					  </div>
					</div>
					<div class="mb-cmteditor cmpdisabled">
					  <div class="msgeditor-hd">
						<div class="msgeditor-hdl none"><span style="display: none;" data-id="3314"></span><em style="display: none;"></em></div>
						<!--<div class="msgeditor-hdr"><i>输入超过<b>10</b>行</i><q>已超出<strong></strong>字</q><span>还可输入<em>1000</em>字</span></div>-->
					  </div>
					  <div class="msgeditor-bd-container">
						<div class="msgeditor-bd h5uploadercontainer kcmp">
						  <textarea placeholder="" id="xzht_2"></textarea>
						</div>
					  </div>
					  <div class="msgeditor-ft clearfix">
						<div class="msgeditor-addons"><a href="javascript:" class="msgeditor-addons-smiley" data-value="0"><i class="icon icon-smiley"></i></a></div>
						<div class="msgeditor-ctrl"><a href="javascript:" class="tybtn em msgeditor-ctrl-post"><em>回复</em></a></div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<script src='/Scripts/jquery-1.8.3.js' type='text/javascript'></script> 
<script src='/Scripts/common.js' type='text/javascript'></script> 
<script src='/Scripts/face.js' type='text/javascript'></script> 
<script src='/Scripts/Selection.js' type='text/javascript'></script> 
<script src='/Scripts/fankui.js' type='text/javascript'></script> 
<script src='/Scripts/fw_i8picview.js?v=1.55747' type='text/javascript'></script>
<script src='/Scripts/fw_i8popup.js'type='text/javascript'></script>
<script src='/Scripts/Head.js'type='text/javascript'></script>
</body>
</html>