@{
    Layout = null;
}




<h5>推荐标签：<a class="tip-close" href="javascript:tipWindowClose()"><span class="tip-img"></span></a></h5>
<ul>

    <li><a name="house_label_link">低价合租</a></li>

    <li><a name="house_label_link">BRT沿线</a></li>

    <li><a name="house_label_link">随时看房</a></li>

    <li><a name="house_label_link">免中介费</a></li>

    <li><a name="house_label_link">商住两用</a></li>

    <li><a name="house_label_link">风水绝佳</a></li>

    <li><a name="house_label_link">拎包入住</a></li>

    <li><a name="house_label_link">可短租</a></li>

    <li><a name="house_label_link">精装修</a></li>

    <li><a name="house_label_link">性价比高</a></li>
    <li><a name="house_label_link">投资推荐</a></li>
    <li><a name="house_label_link">交通便利</a></li>
    <li><a name="house_label_link">靠近地铁</a></li>
    <li><a name="house_label_link">南北通透</a></li>
    <li><a name="house_label_link">新装修</a></li>
    <li><a name="house_label_link">满两年</a></li>
    <li><a name="house_label_link">无贷款</a></li>
    <li><a name="house_label_link">满五唯一</a></li>
    <li><a name="house_label_link">电梯房</a></li>
  
</ul>
<div class="clear">
    <hr></hr>
</div>
<div class="clear col-red tip-window-font">
    <span> *最多三个标签，标签之间用1个空格分隔，每个标签限2~6字！</span>
</div>