@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>云采集</title>
    <link href='~/Content/common.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="saleHouse" id="saleHouse">
  <div class="saleHouse-main">
        <div style="font-family:'微软雅黑';font-size:18px;padding:25px 0px 0px 20px;color:#222;line-height:24px">功能正在开发中，敬请期待……</div>
    </div>
</div>
<script src='/Scripts/jquery-1.8.3.js' type='text/javascript'></script> 
<script src='/Scripts/plugins/artDialog/jquery.artDialog.js?skin=chrome' type='text/javascript'></script> 
<script src='/Scripts/plugins/artDialog/plugins/iframeTools.source.js' type='text/javascript'></script> 
<script src='/Scripts/updPass.js' type='text/javascript'></script> 
<script src='/Scripts/common.js' type='text/javascript'></script>
</body>
</html>