<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LoggingConnection" providerName="System.Data.SqlClient" connectionString="server=192.168.0.173;uid=HouseInfo2014#ahcbs;pwd=hhagsywddd;database=LLSDB" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MaxExecutionTime" value="2000" />
    <!-- EF 数据库连接配置-->
    <!--<add key="DBConnectionString" value="Data Source=192.168.0.173;Initial Catalog=WX;Persist Security Info=True;User ID=HouseInfo2014#ahcbs;Password=hhagsywddd"/>-->
    <add key="DBConnectionString" value="server=120.27.209.172;uid=zjb;pwd=ZJB20!7;database=ZJBDB" />
    <add key="AuthUrl" value="/User/Login" />
    <add key="AuthSaveKey" value="WXLoginedUser" />
    <add key="AuthSaveType" value="SESSION_COOKIE" />
    <add key="TRIPLE_DES_KEY" value="ZIADBgaT6Xq7STvd7nGZbPUZ+y/WANF8" />
    <add key="TRIPLE_DES_IV" value="rJfinqTv/HY=" />
    <!-- 密码修饰字符串-->
    <add key="PassWordAdorn" value="C2E28AA940B3B02F" />
    <add key="QiNiuDomain" value="http://op7rg2s46.bkt.clouddn.com/" />
    <add key="domain" value="zhujia001.com" />
    <add key="yzmContent" value="住家帮验证码为：{0}" />
    <!-- 验证码注册开关-->
    <add key="InvitationRegister" value="false" />
    <add key="MongoDBLogConnection" value="mongodb://192.168.0.152" />
    <add key="MongoDbHouseCaijiConnection" value="mongodb://192.168.0.180" />
    <!--邮箱设置-->
    <add key="MailFrom" value="no-reply@notify.fchezi.com" />
    <add key="SmtpServer" value="192.168.0.53" />
    <add key="Port" value="9101" />
    <add key="EnableSsl" value="false" />
    <add key="ChangeEamilConent" value="{0}您好,您申请修改绑定邮箱,请到这里确认修改绑定{1}" />
    <!--是否生产环境-->
    <add key="OnProduction" value="false" />
    <add key="redis.server" value="192.168.0.176" />
    <add key="redis.port" value="6379" />
    <add key="redis.password" value="" />


    <!--住家帮-->
    <add key="WeixinAppId" value="wx0b19f05d17d956e6" />
    <add key="WeixinAppSecret" value="f4d52f541fbacd5967ab9f63d32f76fd" />



    <!--微信信息模版-->

    <add key="SmsSwitch" value="1" />
    <!--0分开 1：电信 2：移动  -->

    <!--通知设置`-->
    <!--  新闻数据库`-->
    <add key="Report.NewsMongoDb" value="mongodb://192.168.0.173" />
    <!--  通知的用户id列表，用;号分隔`-->
    <add key="Report.OpenIdListForNews" value="okW7twgxMor7gtphIQuJnS396KfI" />
    <!--<add key="Report.OpenIdListForNews" value="okW7twi7WHjOZCNZ_whd-wzI0e0o;okW7twiAyGDM7-ZPKW5GBhmphC8w;okW7twnntL5Cnqs7Bht7SIEOSDQM;okW7twsywyWvh2i5O2s8tx4YodBI;okW7twhyUaxwcPnKt93urudB40OI;okW7twgxMor7gtphIQuJnS396KfI" />-->
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trace enabled="true" pageOutput="true" writeToDiagnosticsTrace="true" />
    <customErrors mode="Off" defaultRedirect="~/Notice/HtmlError">
      <error statusCode="403" redirect="~/Notice/HtmlError" />
      <error statusCode="404" redirect="~/Notice/HtmlError" />
    </customErrors>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <!--<sessionState mode="StateServer" cookieless="UseCookies" stateConnectionString="tcpip=127.0.0.1:42424" timeout="20"/>-->
    <httpModules>
    
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="RequestLogModule" type="ZJB.Web.Logging.RequestLogModule, ZJB.Web" />-->
      <add name="LifeCycleModule" type="LifeCycleLogging.LifeCycleModule, LifeCycleLogging" />
   
      <add name="TestRequestModule" type="ZJB.Web.TestModule.TestRequestModule, ZJB.Web" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
    <!--<rewrite>
      <rules>
        <rule name="Index">
          <match url="^$"/>
          <action type="Rewrite" url="/city"/>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>