<?xml version="1.0" encoding="utf-8" ?>
<DbConfig>
  <Connections>
    <Connection>
      <Name>WX</Name>
      <ProviderName>System.Data.SqlClient</ProviderName>
      <ConnectionString>Data Source=120.27.209.172;Initial Catalog=ZJBDB;Persist Security Info=True;User ID=zjb;Password=ZJB20!7</ConnectionString>
    </Connection>
  </Connections>
  <Providers>
    <Provider>
      <Name>MySql.Data.MySqlClient</Name>
      <DatabaseType>EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null</DatabaseType>
    </Provider>
  </Providers>
</DbConfig>