@using ZJB.Api.Entity;
@model List<Notice>

@foreach(Notice item in Model)
{
  
<li class="bulletin-title"><a href="javascript:;"><a href="@Url.Action("NoticeAdd", "Notice", new { noticeId=item.NoticeId})" id="@item.NoticeId">@item.Title</a></a></li>
}


