@model ZJB.Api.Entity.Notice
@{
    Layout = null;
 
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>公告信息</title>
    <link href='/css/common.css' rel='stylesheet' type='text/css' />
    <link href='/css/notice.css' rel='stylesheet' type='text/css' />
</head>

<body style="background:#ffffff">

<div style="font-size:16px;line-height:28px;font-family:'微软雅黑';padding:20px 15px">@(Html.Raw(Model.NoticeContent))</div>       
</body>
</html>
