@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>产品日志</title>
    <link href='~/css/common.css' rel='stylesheet' type='text/css' />
    <link href='~/css/main.css' rel='stylesheet' type='text/css' />
	<script src="/Scripts/jquery-1.8.3.js"></script>
<script src='/Scripts/mainRight.js' type='text/javascript'></script> 
<script src='/Scripts/common.js' type='text/javascript'></script>

</head>
<body>
<div class="saleHouse" id="saleHouse">
	<div class="indexRight-main" style="margin:0px;width:auto">
		<ul class="sale-tab-sub house-log">
        	<li id="tab1" class="sale-sub-menu selected"> <a href="javascript:;">房产盒子在成长</a> </li>
      	</ul>
	    <div id="job" class="clearfix">
            <h2>房产盒子1.4升级<span>2015.1.31</span></h2>
            <p>
                <img src="/images/dot.jpg" class="dot">
                <b>云采集收藏功能</b><br>
                <b>可以在站点管理直接登录相应绑定的网站</b><br />
                管理首页改版，增加社交模块<br>
            </p>
            <div class="clear"></div>
	        <h2>房产盒子1.3升级<span>2015.1.27</span></h2>
	        <p>
	            <img src="/images/dot.jpg" class="dot">
	            <b>云发布升级</b><br>
	            <b>个人房源采集</b><br />

	        </p>
	        <div class="clear"></div>
	        <h2>房产盒子1.2升级<span>2015.1.24</span></h2>
	        <p>
	            <img src="/images/dot.jpg" class="dot">
	            <b>云发布升级</b><br>
	            支持赶集付费、小鱼网站房源发布<br>

	        </p>
	        <div class="clear"></div>
	        <h2>房产盒子1.1升级<span>2015.1.22</span></h2>
	        <p>
	            <img src="/images/dot.jpg" class="dot">
	            <b>云发布升级</b><br>
	            支持赶集、安居客网站房源发布<br>

	        </p>
	        <div class="clear"></div>
	        <h2>房产盒子1.0发布<span>2015.1.16</span></h2>
	        <p>
	            <img src="/images/dot.jpg" class="dot">
	            <b>云发布</b><br>
	            出售录入<br>
	            出租录入<br>
	            支持联合网、58、搜房网网站房源发布<br />
	            <b>邀请码注册免费使用</b><br />
	        </p>
	    </div>
    </div>
</div>
</body>
</html>
